*{
    background-color:white;
}

#val1 , body , #val2, #result {
    text-transform: capitalize;
    font-size: large;
}

#op {
    color: black;
    box-sizing: border-box;
    width: 20vh;
    max-height: fit-content;
    border-radius: 0%;
    background-color:azure;
}
